body{
  background-color: #333;
  color:#ccc;
  padding: 10px;
  .App{
    .navbar{
      background-color: black;

      .navbar-inner{
        width: 80%;
        margin:0 auto;
      display:flex;
      padding: 10px;
      justify-content: space-between;
      gap: 20px;
      border-radius:10px;
      ul{
        list-style-type: none;
        display:flex;
        align-items: center;
        gap:20px;
        li{

          a{
            text-decoration: none;
            color:#ccc;
            padding: 10px;
            border:1px solid #ccc;
            &:hover{
              background-color:#ccc;
              color:#333;
            }
            &.active{
              color:yellow;
              border-color: yellow;
            }
          }
        }
      }
      button{
        padding: 10px;
        
      }
    }
  }
    .loginMessageBox{
      text-align: center;
      background-color:black;
      width: fit-content;
      margin: 20px auto;
      padding: 20px;
      border-radius:10px;
    }
  }
}